@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

header {
  font-family: "Noto Sans JP", sans-serif;
  border-bottom: solid 0.5px;
  top: 0px;
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  line-height: 100px;
  background-color: white;
  z-index : 2;
}
.home,
.statist,
.recommend {
  width: 180px;
  height: 40px;
}
.home {
  margin-left: 80px;
  font-size: 56px;
}
.statist,
.recommend,
.info {
  font-size: 26px;
}
.statist {
  margin-left: 70px;
}
.A {
  color: red;
}
.H {
  color: #0ffa46;
}
.info {
  margin-left: auto;
  margin-right: 70px;
}
.onLog{
  display: flex;
  margin: auto;
}
.logout{
  margin-right: 50px;
}

