.texts{
    background-color: #0ffa46;
    margin-top: 100px;
    width: 100%;
    height: 500px;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.discription{
    display: flex;
    flex-direction: column;
}
.container{
    top:100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.discription div{
    padding-left: 150px;
    padding-top: 80px;
}
.arrow{
    width : 30px;
    height: 30px;
}
.test{
    font-weight: bold;
    color : #0ffa46;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.discription div h2{
    font-weight: bold;
}