.instruction{
    top: 100px;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 250px;
}
.instruction div{
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.instruction div h2 , .instruction div p{
    font-weight: bold;
}
.instruction div p a{
    text-decoration: none;
    color: #17ce3a;
}
.instruction div p{
    font-size: 16px;
    margin-left: 25px;
}
