
.con {
  margin-top: 100px;
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
  flex-direction: column;
}
.con div {
  margin: auto;
  border-bottom: solid 1px black;
  width: 900px;
  height: 100px;
  line-height: 100px;
}
.con div img {
  width: 25px;
  height: 25px;
}
.con div a{
  margin-left: 20px;
}
a{
  font-size: 27px;
  font-family: 'GmarketSansMedium';
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button{
  width: 120px;
  height: 40px;
  margin-left: 30px;
}
.inp{
  width: 100px;
  height: 25px;
}
.solve{
  color: #009874;
}
.non_solve{
  color: black;
}
