.con {
  margin-top: 100px;
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
  flex-direction: column;
}
.con div {
  margin: auto;
  border-bottom: solid 1px black;
  width: 900px;
  height: 100px;
  line-height: 100px;
}
.con div a {
  margin-left: 20px;
}
.prolink {
  font-size: 27px;
  font-family: "GmarketSansMedium";
  text-decoration: none;
}
button {
  width: 120px;
  height: 40px;
  margin-left: 30px;
}
.inp {
  margin-top: 35px;
  margin-right: 20px;
  float: right;
  width: 30px;
  height: 30px;
}

.non_show {
  display: none;
}
.bronze {
  color: #ad5600;
}
.silver {
  color: #435f7a;
}
.gold {
  color: #ec9a00;
}
.platinum {
  color: #27e2a4;
}
.diamond {
  color: #00b4fc;
}
.ruby {
  color: #ff0062;
}
.dif {
  font-family: "GmarketSansMedium";
}
